/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #ff0095;
  --section-bg-color: #f0f8ff;
  --dark-color: #000000;
  --grey-color: #d0d1d1;
  --p-color: #717275;
  --danger-color: #f51d70;

  --body-font-family: "Inter", sans-serif;

  --h5-font-size: 24px;
  --p-font-size: 20px;
  --copyright-text-font-size: 16px;
  --product-link-font-size: 14px;
  --custom-link-font-size: 12px;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family);
  position: relative;
}

/*---------------------------------------
    TYPOGRAPHY               
  -----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: 64px;
  line-height: normal;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container h2 {
  margin: 4px;
}

.form {
  padding: 12px 24px;
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.form button {
  width: 100%;
  padding: 16px 0;
  border-radius: 12px;
  background-color: var(--dark-color);
  font-weight: bolder;
  color: var(--white-color);
  font-size: 16px;
  border: none;
}

.form-items {
  width: 100%;
}

.form p {
  width: 100%;
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
}

.form p input {
  width: 60%;
}

.form button:hover {
  background-color: var(--primary-color);
}

.form label {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
}

.form textarea {
  width: 60%;
  height: 60px;
  padding: 12px;
  border-radius: 8px;
}
.form textarea:focus {
  outline: 1px solid var(--primary-color);
  border: 1px solid var(--primary-color);
}

.form input[type="checkbox"] {
  width: 32px;
  height: 32px;
}

.form input {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--dark-color);
}

.form input:focus {
  outline: 1px solid var(--primary-color);
  border: 1px solid var(--primary-color);
}

.form .text-center {
  font-size: 16px;
  text-align: center;
}

.form .error {
  color: var(--danger-color);
  opacity: 0.8;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin: 0;
}

.form li {
  color: var(--danger-color);
  list-style: none;
  position: absolute;
  margin-top: 12px;
  right: 34px;
}

p > label[for="id_image"],
p > input#id_image {
  display: none;
}
